body{
    font-family: Arial, Helvetica, sans-serif; /*Tipografia*/
}

h1{
    text-align: center;
}

h2{
    margin-top: 0px;
}

.comprar{
    border-style: none;
    background: #aa88ff;
    color: #110033;
    padding: 10px 20px;
    border-radius: 4px;
}

.item{
    background: #f7f7f7;
    border: 1px solid #e7e7e7;
    padding: 20px;
    border-radius: 4px;
}

.grid{
    display: grid; /* define o container como um grid */
    height: 800px;
    grid-template-columns: auto auto; /* tamanho / quantidade de colunas */
    gap: 20px; /* espaçamento entre os itens */
    justify-content: space-evenly; /* alinha os itens na horizontal */
    align-content: space-evenly ; /* alinha os itens na vertical */
    /*place-content: space-evenly center;  // alinha os itens na horizontal e vertical - é basicamente um coringa */
}