body{
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
}

h1{
    text-align: center;
}

h2{
    margin-top: 0px;
}

.comprar{
    border-style: none;
    background: #aa88ff;
    color: #110033;
    padding: 10px 20px;
    border-radius: 4px;
}

.item{
    background: #f7f7f7;
    border: 1px solid #e7e7e7;
    padding: 20px;
    border-radius: 4px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}